<div class="col-md-4">
     <div class="thumbnail">
          <img src="{{thumbnailURL}}" />
          <div class="caption">
               <h3>{{human_name}}</h3>
               <table class="table">
                    <thead>
                         <tr>
                              <th>Images</th>
                              <th>Videos</th>
                              <th>Duration</th>
                         </tr>
                    </thead>
                    <tr>
                         <td>{{images}}</td>
                         <td>{{videos}}</td>
                         <td>{{duration}} seconds</td>
                    </tr>
               </table>
               <p class="small">* All templates allow for up to 6 lines of content info</p>
               <p>
                    <a class="btn btn-success create-video-tooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{createToolTipTitle}}" role="button">Create</a>
                    <a class="btn btn-info preview-video-tooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{previewToolTipTitle}}" role="button">Preview</a> 
               </p>
          </div>
     </div>
</div>