<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Snap Studios Plus</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<!--<li class="home"><a href="#">Home</a></li>-->
			<li class="my-projects"><a href="#my-projects">My Projects</a></li>
			<li class="templates"><a class="templates" href="#templates">Templates</a></li>
			<li class="photos-videos"><a class="photos-videos" href="#photos-videos">Photos & Videos</a></li>
			<li class="audio"><a href="#audio">Audio</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown welcome">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome Dave <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class="my-account"><a href="#my-account">My Account</a></li>
					<li class="billing-history"><a href="#billing-history">Billing History</a></li>
					<li class="logout"><a href="#logout">Logout</a></li>
				</ul>
			</li>
			<li class="help"><a href="#help">Help</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>

<article data-el="main"></article>